USE [master]
GO
/****** Object:  Database [CinemaCity]    Script Date: 10/30/2016 12:24:45 AM ******/
CREATE DATABASE [CinemaCity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaCity', FILENAME = N'E:\Programs\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CinemaCity.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CinemaCity_log', FILENAME = N'E:\Programs\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CinemaCity_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaCity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaCity]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 10/30/2016 12:24:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cinema] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Films]    Script Date: 10/30/2016 12:24:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Rating] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Language] [nvarchar](2) NOT NULL,
	[Minutes] [int] NOT NULL,
 CONSTRAINT [PK_Films] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectionRooms]    Script Date: 10/30/2016 12:24:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectionRooms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [tinyint] NOT NULL,
	[Seats] [int] NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_ProjectionRooms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projections]    Script Date: 10/30/2016 12:24:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projections](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Start] [datetime] NOT NULL,
	[FilmID] [int] NOT NULL,
	[CinemaID] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[ProjectionRoomID] [int] NOT NULL,
 CONSTRAINT [PK_Projections] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Projections]  WITH CHECK ADD  CONSTRAINT [FK_Projections_Cinema] FOREIGN KEY([CinemaID])
REFERENCES [dbo].[Cinema] ([ID])
GO
ALTER TABLE [dbo].[Projections] CHECK CONSTRAINT [FK_Projections_Cinema]
GO
ALTER TABLE [dbo].[Projections]  WITH CHECK ADD  CONSTRAINT [FK_Projections_Films] FOREIGN KEY([FilmID])
REFERENCES [dbo].[Films] ([ID])
GO
ALTER TABLE [dbo].[Projections] CHECK CONSTRAINT [FK_Projections_Films]
GO
ALTER TABLE [dbo].[Projections]  WITH CHECK ADD  CONSTRAINT [FK_Projections_ProjectionRooms] FOREIGN KEY([ProjectionRoomID])
REFERENCES [dbo].[ProjectionRooms] ([ID])
GO
ALTER TABLE [dbo].[Projections] CHECK CONSTRAINT [FK_Projections_ProjectionRooms]
GO
USE [master]
GO
